<% html_title(t(:label_administration), @tree.name) -%>

<%=
  render Primer::OpenProject::PageHeader.new do |header|
    header.with_title { @tree.name }
    header.with_breadcrumbs(
      [{ href: admin_index_path, text: t(:label_administration) },
       { href: admin_settings_authentication_path, text: t(:label_authentication) },
       { href: ldap_departments_synchronized_trees_path, text: I18n.t("ldap_departments.label_menu_item") },
       @tree.name]
    )
  end
%>

<%= render(Primer::OpenProject::SubHeader.new) do |subheader|
      subheader.with_action_button(
        tag: :a,
        href: synchronize_ldap_departments_synchronized_tree_path(tree_id: @tree.id),
        scheme: :primary,
        leading_icon: :sync,
        data: { turbo_method: :post },
        disabled: !EnterpriseToken.allows_to?(:ldap_groups),
        label: t("ldap_departments.label_synchronize")
      ) do
        t("ldap_departments.label_synchronize")
      end
      subheader.with_action_button(
        tag: :a,
        href: edit_ldap_departments_synchronized_tree_path(tree_id: @tree.id),
        scheme: :secondary,
        leading_icon: :pencil,
        label: t(:button_edit)
      ) do
        t(:button_edit)
      end
    end %>

<%= render EnterpriseEdition::BannerComponent.new(:ldap_groups, variant: :inline, i18n_scope: "ee.upsell.ldap_departments") %>

<%= render(Primer::Alpha::Layout.new(stacking_breakpoint: :md)) do |layout| %>
  <% layout.with_main do %>
    <section class="admin--edit-section">
      <%= render(Primer::Beta::Heading.new(tag: :h3, pb: 3)) do
            t("ldap_departments.synchronized_departments.plural")
          end %>

      <%= render(LdapDepartments::SynchronizedDepartments::TableComponent.new(rows: @departments)) %>
    </section>
  <% end %>

  <% layout.with_sidebar(row_placement: :start, col_placement: :end) do %>
    <%= render(LdapDepartments::SynchronizedTrees::SidePanelComponent.new(tree: @tree)) %>
  <% end %>
<% end %>
